<!DOCTYPE html>
<html>
<head>
    <title>Delete Page</title>
</head>
<body>
    <h1>Delete Page</h1>
    <form method="post">
        <input type="hidden" name="id" value="{{ page.id }}">
        <p>Are you sure you want to delete this page?</p>
        <button type="submit">Delete</button>
    </form>
</body>
</html>
