{% extends '/templates/base_single.html.twig' %}
{% block load_text %}
    {% include 'templates/pages/multigama-group/_partial/_loader.html.twig' %}
{% endblock %}
{% block header %}
    {% include 'templates/pages/_partial/_header-one-page.html.twig' with {'multiGamaGroupMenu': multiGamaGroupMenu} %}
{% endblock %}
{% block body %}
    <div class="page-content bg-white">
        <!-- Slider -->
        {% include 'templates/pages/multigama-group/_partial/_slider.html.twig' %}
        <!-- Slider -->

        <!-- Services -->
        {% include 'templates/pages/_partial/_services.html.twig' %}
        <!-- Services -->

        <section id="about-us" class="my-5">
        <!-- About US -->
        {% include 'templates/pages/multigama-group/_partial/_about-us.html.twig' %}
        <!-- About US -->
        </section>

        <section id="mission" class="my-5">
            <div class="container">
                <div class="row align-items-center align-items-stretch">
                    <div class="col-12 m-b30" data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">
                        <h1>Misiunea Multigama Group</h1>
                        <p>La Multigama Group, ne-am angajat să furnizăm soluții inovatoare și fiabile pentru
                            necesitățile
                            esențiale ale industriei. Misiunea noastră este să oferim produse și servicii de înaltă
                            calitate
                            care să contribuie la îmbunătățirea și securizarea proceselor în domeniul utilităților și
                            siguranței.</p>

                        <h2>Multigama Service - Vânzarea de Pompe de Apă</h2>
                        <p>Multigama Service reprezintă brațul nostru dedicat vânzării de pompe de apă fiabile și
                            eficiente.
                            Ne propunem să furnizăm clienților noștri cele mai bune soluții în domeniul pomparii apei,
                            oferind produse de încredere care satisfac nevoile diverse ale clienților noștri.</p>
                        <p>Scopul nostru este să asigurăm o gamă completă de pompe de apă, de la cele rezidențiale până
                            la
                            cele industriale, pentru a răspunde cerințelor specifice ale fiecărui client, contribuind
                            astfel
                            la eficiența și durabilitatea operațiunilor acestora.</p>

                        <h2>Multigama Tech - Mentenanță pentru Pompele de Apă</h2>
                        <p>Multigama Tech este divizia noastră specializată în mentenanța și service-ul pompelor de apă.
                            Ne
                            străduim să oferim servicii profesioniste și soluții de întreținere eficiente, menite să
                            asigure
                            funcționarea optimă și durabilitatea pompei de apă a fiecărui client.</p>
                        <p>Echipa noastră de tehnicieni specializați și experimentați lucrează în strânsă colaborare cu
                            clienții noștri pentru a oferi soluții personalizate de mentenanță și service, reducând
                            astfel
                            timpul de inactivitate și costurile asociate.</p>

                        <h2>EQ Fire - Sisteme de Suprimare a Incendiilor</h2>
                        <p>EQ Fire este departamentul nostru dedicat furnizării și instalării de sisteme de suprimare a
                            incendiilor de înaltă performanță. Ne focusăm pe furnizarea unor soluții inovatoare și
                            eficiente
                            pentru protecția împotriva incendiilor, adaptate nevoilor și specificațiilor fiecărui
                            client.</p>
                        <p>Echipa noastră de experți în siguranța incendiilor este dedicată oferirii unor soluții
                            personalizate și integrate, garantând astfel securitatea și protecția continuă împotriva
                            riscului de incendiu pentru fiecare client în parte.</p>
                        <h2>Valori</h2>
                        <p>La Multigama Group, valorile noastre stau la baza fiecărei acțiuni pe care o
                            întreprindem:</p>
                        <ul>
                            <li><strong>Inovație:</strong> Suntem dedicați găsirii și implementării de soluții
                                inovatoare pentru a răspunde nevoilor în continuă schimbare ale clienților noștri.
                            </li>
                            <li><strong>Calitate:</strong> Ne străduim să oferim produse și servicii de cea mai înaltă
                                calitate, păstrând standardele de excelență.
                            </li>
                            <li><strong>Responsabilitate:</strong> Ne angajăm să fim responsabili față de mediu și
                                comunitatea în care activăm, urmărind sustenabilitatea și implicarea socială.
                            </li>
                            <li><strong>Angajați:</strong> Încurajăm și apreciem diversitatea, creativitatea și
                                dezvoltarea continuă a echipei noastre, considerând că aceasta este cheia succesului
                                nostru.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="vision" class="my-5">
            <div class="container">
                <div class="row align-items-center align-items-stretch">
                    <div class="col-12 m-b30" data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">
                        <h1>Viziunea Multigama Group</h1>
                        <p>Multigama Group își propune să devină unul dintre cei mai importanți piloni ai inovației și
                            progresului
                            în industria noastră. Cu o viziune profundă și determinare puternică, ne dorim să
                            revoluționăm industria
                            prin tehnologii de vârf și soluții care să transforme paradigmele existente.</p>

                        <h2>Echipa Noastră</h2>
                        <p>Echipa Multigama Group reprezintă diversitatea, creativitatea și expertiza. Ne mândrim cu un
                            colectiv
                            dedicat, care împărtășește pasiunea pentru inovație și excelență. Susținem o cultură a
                            colaborării și a
                            învățării continue, încurajând fiecare membru al echipei să contribuie cu idei și
                            perspective
                            inovatoare.</p>
                        <p>Considerăm că diversitatea noastră este un atu valoros, deoarece ne oferă o abordare
                            holistică în
                            rezolvarea problemelor complexe. Fiecare individ aduce în echipă o experiență unică,
                            contribuind la
                            diversitatea soluțiilor noastre inovatoare.</p>

                        <h2>Angajații Noștri</h2>
                        <p>Angajații sunt cea mai importantă resursă a noastră și punem un accent deosebit pe binele și
                            dezvoltarea
                            lor. La Multigama Group, promovăm un mediu de lucru incluziv și echitabil, care încurajează
                            angajații
                            să-și manifeste creativitatea și să-și dezvolte abilitățile.</p>
                        <p>Acordăm o atenție deosebită echilibrului între viața profesională și cea personală a
                            angajaților noștri,
                            oferind flexibilitate și suport pentru a asigura un echilibru sănătos. Încurajăm excelența
                            și inovarea,
                            oferind oportunități de dezvoltare continuă și programe de mentorat pentru a-i încuraja pe
                            angajați
                            să-și atingă potențialul maxim.</p>

                        <h2>Responsabilitate Socială</h2>
                        <p>Ne considerăm parte integrantă a comunității și avem o responsabilitate profundă față de
                            societate.
                            Înțelegem importanța contribuției noastre la progresul societății, așa că ne implicăm activ
                            în proiecte
                            sociale și de mediu.</p>
                        <p>Angajamentul nostru față de sustenabilitate se reflectă în practicile noastre de afaceri,
                            concentrându-ne
                            pe inițiative care reduc impactul asupra mediului și contribuie la un viitor mai curat și
                            mai sănătos
                            pentru generațiile viitoare.</p>
                    </div>
                </div>
            </div>

        </section>

        <section id="contact" class="my-5">
            <!-- Skills and Contact -->
            {% include 'templates/pages/_partial/_quick-contact-home.html.twig' %}

        </section>

    </div>
{% endblock %}
