{% extends '/templates/base.html.twig' %}
{% block load_text %}
    {% include 'templates/pages/multigama-group/_partial/_multigama-tech-loader.html.twig' %}
{% endblock %}
{% block header %}
    {% include 'templates/pages/_partial/_header.html.twig' with {'multiGamaGroupMenu': multiGamaGroupMenu} %}
{% endblock %}
{% block body %}
    <div class="page-content bg-white">
        <!-- Slider -->
        {% include 'templates/pages/_partial/_slider.html.twig' %}
        <!-- Slider -->

        <!-- Services -->
        {% include 'templates/pages/_partial/_services.html.twig' %}
        <!-- Services -->

        <!-- About US -->
        {% include 'templates/pages/multigama-group/_partial/_about-us.html.twig' %}
        <!-- About US -->

        <!-- Counter -->
{#        {% include 'templates/pages/multigama-group/_partial/counter.html.twig' %}#}
        <!-- Counter -->

        <!-- How It Works -->
        {% include 'templates/pages/multigama-group/_partial/_how-it-works.html.twig' %}

        <!-- Testimonials -->
{#        {% include 'templates/pages/_partial/_testimonial.html.twig' %}#}
        <!-- Testimonials -->

        <!-- Our Portfolio -->
        {% include 'templates/pages/_partial/_portfolio.html.twig' %}

        <!-- Skills and Contact -->
        {% include 'templates/pages/_partial/_quick-contact.html.twig' %}

        <!-- Clients Logo -->
{#        {% include 'templates/pages/_partial/_clients-logo.html.twig' %}#}


        <!-- Blog -->
{#        {% include 'templates/pages/_partial/_blog.html.twig' %}#}
        <!-- Blog -->

    </div>

{% endblock %}
