<!DOCTYPE html>

<title>New ProjectPump</title>

{% block body %}
    <h1>Create new ProjectPump</h1>

    {{ include('project_pump/_form.html.twig') }}

    <a href="{{ path('app_project_pump_index') }}">back to list</a>
{% endblock %}
