{% extends '/templates/admin/base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>

    <ul>
        {% for route in routes %}
            <li>
                <a href="{{ route.path }}">{{ route.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
