{% extends '/templates/base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>

    <ul>
        {% for route in routes %}
            <li>
                <a href="{{ path(route.name) }}">{{ route.name|replace({'_': ' '}) }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
