<section class="content-inner">
    <div class="container">
        <div class="section-head style-2 text-center">
            <h6 class="sub-title">OUR BLOG</h6>
            <h2 class="title">Latest News Feed</h2>
        </div>
        <div class="swiper blog-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="dz-card blog-grid style-2 text-center m-b10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="dz-media">
                            <a href="blog-details.html.twig"><img src="images/blog/blog-grid/pic1.jpg" alt=""></a>
                        </div>
                        <div class="dz-info">
                            <div class="dz-meta">
                                <ul>
                                    <li class="post-date"><i class="flaticon-calendar"></i> 12 June, 2023</li>
                                </ul>
                            </div>
                            <h4 class="dz-title"><a href="blog-details.html.twig">Pellentesque pharetra luctus sodales quisque felis.</a></h4>
                            <a href="blog-details.html.twig" class="btn-link"><i class="flaticon-chevron"></i> READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="dz-card blog-grid style-2 text-center m-b10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <div class="dz-media">
                            <a href="blog-details.html.twig"><img src="images/blog/blog-grid/pic1.jpg" alt=""></a>
                        </div>
                        <div class="dz-info">
                            <div class="dz-meta">
                                <ul>
                                    <li class="post-date"><i class="flaticon-calendar"></i> 12 June, 2023</li>
                                </ul>
                            </div>
                            <h4 class="dz-title"><a href="blog-details.html.twig">Construction Any Good? 5 Ways You Can Be Certain.</a></h4>
                            <a href="blog-details.html.twig" class="btn-link"><i class="flaticon-chevron"></i> READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="dz-card blog-grid style-2 text-center m-b10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                        <div class="dz-media">
                            <a href="blog-details.html.twig"><img src="images/blog/blog-grid/pic2.jpg" alt=""></a>
                        </div>
                        <div class="dz-info">
                            <div class="dz-meta">
                                <ul>
                                    <li class="post-date"><i class="flaticon-calendar"></i> 10 June, 2023</li>
                                </ul>
                            </div>
                            <h4 class="dz-title"><a href="blog-details.html.twig">Why You Cannot Learn Construction Well</a></h4>
                            <a href="blog-details.html.twig" class="btn-link"><i class="flaticon-chevron"></i> READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
