<section class="content-inner-2 portfolio-area1 bg-secondary" style="background-image: url(images/pattern/pattern1.png);">
    <div class="container">
        <div class="section-head style-2 text-white text-center">
            <h5 class="sub-title text-primary">OUR WORK</h5>
            <h2 class="title">Explore Our Projects</h2>
        </div>
    </div>
    <div class="swiper-container swiper-portfolio1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="dz-box overlay style-2 overlay-shine" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="dz-media">
                        <img src="images/work/work1/pic1.jpg" alt="">
                    </div>
                    <div class="dz-info">
                        <a href="portfolio-details.html.twig" class="view-btn" title="Florida Chemical Factory"></a>
                        <h4 class="title m-b15"><a href="portfolio-details.html.twig">Florida Chemical Factory</a></h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="dz-box overlay style-2 overlay-shine" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <div class="dz-media">
                        <img src="images/work/work1/pic2.jpg" alt="">
                    </div>
                    <div class="dz-info">
                        <a href="portfolio-details.html.twig" class="view-btn" title="Chemical Research"></a>
                        <h4 class="title m-b15"><a href="portfolio-details.html.twig">Chemical Research</a></h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="dz-box overlay style-2 overlay-shine" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                    <div class="dz-media">
                        <img src="images/work/work1/pic3.jpg" alt="">
                    </div>
                    <div class="dz-info">
                        <a href="portfolio-details.html.twig" class="view-btn" title="Oil & Gas Industry"></a>
                        <h4 class="title m-b15"><a href="portfolio-details.html.twig">Oil & Gas Industry</a></h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="dz-box overlay style-2 overlay-shine" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                    <div class="dz-media">
                        <img src="images/work/work1/pic4.jpg" alt="">
                    </div>
                    <div class="dz-info">
                        <a href="portfolio-details.html.twig" class="view-btn" title="Automative Manufacturing"></a>
                        <h4 class="title m-b15"><a href="portfolio-details.html.twig">Automative Manufacturing</a></h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="dz-box overlay style-2 overlay-shine" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000">
                    <div class="dz-media">
                        <img src="images/work/work1/pic5.jpg" alt="">
                    </div>
                    <div class="dz-info">
                        <a href="portfolio-details.html.twig" class="view-btn" title="Metal Sheet Cutting"></a>
                        <h4 class="title m-b15"><a href="portfolio-details.html.twig">Metal Sheet Cutting</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
