<section class="content-inner overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">
                <div class="section-head style-2">
{#                    <h6 class="sub-title">MULTIGAMA GROUP</h6>#}
                    <h2 class="title">MULTIGAMA GROUP</h2>
                    <p>
                        Povestea grupului Multigama a început cu firma Multigama Industrial, înființată la 4 decembrie 1990 de un grup de ingineri, foști angajați ai companiei AVERSA, specializați în domeniul pompelor. Principalul obiectiv a fost de a vinde și produce pompe pentru uz casnic care nu existau pe piața românească de la acea vreme.
                        Primul proiect realizat de Multigama Industrial a fost reabilitarea echipamentului de pompare de la Casa Enescu, în anul 1991.

                    </p>
                </div>
{#                <div class="progress-bx style-1 m-b50 m-sm-b30">#}
{#                    <div class="progress-info">#}
{#                        <h4 class="title">Construction</h4>#}
{#                        <h4 class="progress-value">90%</h4>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar" style="width: 90%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="progress-bx style-1 m-b50 m-sm-b30">#}
{#                    <div class="progress-info">#}
{#                        <h4 class="title">Development</h4>#}
{#                        <h4 class="progress-value">70%</h4>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar" style="width: 70%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="progress-bx style-1 m-b50 m-sm-b30">#}
{#                    <div class="progress-info">#}
{#                        <h4 class="title">Building</h4>#}
{#                        <h4 class="progress-value">60%</h4>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="progress-bx style-1 m-b50">#}
{#                    <div class="progress-info">#}
{#                        <h4 class="title">Designing</h4>#}
{#                        <h4 class="progress-value">80%</h4>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar" style="width: 80%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-lg-6 m-b30" data-aos="fade-left" data-aos-duration="800" data-aos-delay="400">
                <div class="dz-form style-1 bg-secondary">
                    <div class="section-head style-2 text-white">
                        <h6 class="text-primary sub-title">CONTACT</h6>
                        <h2 class="title">Hai sa ne cunoastem</h2>
                    </div>
                    <form class="dzForm" method="GET" action="#">
                        <div class="dzFormMsg"></div>
                        <input type="hidden" class="form-control" name="dzToDo" value="Contact">
                        <input type="hidden" class="form-control" name="reCaptchaEnable" value="0">
                        <div class="row sp10">
                            <div class="col-12 m-b20">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="dzName" placeholder="Nume">
                                </div>
                            </div>
                            <div class="col-12 m-b20">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="dzEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12 m-b20">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="dzPhoneNumber" placeholder="Telefon">
                                </div>
                            </div>
                            <div class="col-12 m-b20">
                                <div class="input-group">
                                    <textarea name="dzMessage" class="form-control">Message</textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button name="submit" type="submit" value="submit" class="btn btn-primary">Trimite</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
