<!-- Services -->
<section class="clearfix">
    <div class="container">
        <div class="row service-area-2 flex-wrap align-items-stretch">
            {% for item in items %}
                <div class="col-lg-4 col-md-12 m-md-b30 d-flex flex-column">
                    <div class="icon-bx-wraper bg-secondary style-8 box-hover h-100">
                        <a href="{{ item.link }}">
                            <div class="icon-lg m-b30">
                    <span class="icon-cell">
                        <i class="fa-solid fa-{{ item.icon }} fa-4x"></i>
                    </span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title m-b10">{{ item.title }}</h4>
                                <p>{{ item.description }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Services -->
