<!-- Slider -->
<div class="swiper-container main-silder-swiper silder-two">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="dz-slide-item overlay-black-light" style="background-image:url('{{ asset('assets/images/main-slider/multigama-group/picture-1.jpg') }}');">
                <div class="container">
                    <div class="silder-content" data-swiper-parallax="-40%">
                        <div class="inner-content">
                            <h2 class="title">Mentenanță preventivă, <br/> predictivă și corectivă</h2>
                            <p class="m-b30">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi blandit eros euismod, efficitur odio vitae, pharetra sapien.</p>
                            <a href="#" class="btn shadow-primary btn-primary">DESCOPERA MAI MULT</a>
                        </div>
                    </div>
                </div>
                <div class="bg-shape-left"></div>
                <div class="bg-shape-right"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="dz-slide-item overlay-black-light" style="background-image:url('{{ asset('assets/images/main-slider/multigama-group/picture-2.jpg') }}');">
                <div class="container">
                    <div class="silder-content" data-swiper-parallax="-40%">
                        <div class="inner-content">
                            <h2 class="title">Solutii Industriale <br/>Pentru Afacerea Ta</h2>
                            <p class="m-b30">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi blandit eros euismod, efficitur odio vitae, pharetra sapien.</p>
                            <a href="#" class="btn shadow-primary btn-primary">DESCOPERA MAI MULT</a>
                        </div>
                    </div>
                </div>
                <div class="bg-shape-left"></div>
                <div class="bg-shape-right"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="dz-slide-item overlay-black-light" style="background-image:url('{{ asset('assets/images/main-slider/multigama-group/picture-3.jpg') }}');">
                <div class="container">
                    <div class="silder-content" data-swiper-parallax="-40%">
                        <div class="inner-content">
                            <h2 class="title">Servicii de mentenanță</h2>
                            <p class="m-b30">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi blandit eros euismod, efficitur odio vitae, pharetra sapien.</p>
                            <a href="#" class="btn shadow-primary btn-primary">DESCOPERA MAI MULT</a>
                        </div>
                    </div>
                </div>
                <div class="bg-shape-left"></div>
                <div class="bg-shape-right"></div>
            </div>
        </div>
    </div>
    <div class="btn-prev swiper-button-prev1"><i class="las la-arrow-left"></i></div>
    <div class="btn-next swiper-button-next1"><i class="las la-arrow-right"></i></div>
</div>
<!-- Slider -->
