<section class="content-inner-1">
    <div class="container">
        <div class="section-head style-2 text-center">
            <h6 class="sub-title">TESTIMONIAL</h6>
            <h2 class="title">What Our Client Say’s</h2>
        </div>
        <div class="swiper testimonial-swiper2 pagination-style1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="testimonial-text">
                            <p>Donec aliquam dui eros, ut sodales magna laoreet non. Mauris ut facilisis libero, ut placerat sapien. Morbi consectetur lorem nisi, in semper magna molestie non.</p>
                        </div>
                        <div class="testimonial-detail">
                            <div class="clearfix m-b15">
                                <h4 class="testimonial-name">David Matin</h4>
                                <span class="testimonial-position text-primary">CEO FOUNDER</span>
                            </div>
                            <div class="testimonial-pic">
                                <img src="images/testimonials/pic1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <div class="testimonial-text">
                            <p>Donec aliquam dui eros, ut sodales magna laoreet non. Mauris ut facilisis libero, ut placerat sapien. Morbi consectetur lorem nisi, in semper magna molestie non.</p>
                        </div>
                        <div class="testimonial-detail">
                            <div class="clearfix m-b15">
                                <h4 class="testimonial-name">Andrey Carol</h4>
                                <span class="testimonial-position text-primary">CEO FOUNDER</span>
                            </div>
                            <div class="testimonial-pic">
                                <img src="images/testimonials/pic2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                        <div class="testimonial-text">
                            <p>Donec aliquam dui eros, ut sodales magna laoreet non. Mauris ut facilisis libero, ut placerat sapien. Morbi consectetur lorem nisi, in semper magna molestie non.</p>
                        </div>
                        <div class="testimonial-detail">
                            <div class="clearfix m-b15">
                                <h4 class="testimonial-name">Rebecca Ruth</h4>
                                <span class="testimonial-position text-primary">CEO FOUNDER</span>
                            </div>
                            <div class="testimonial-pic">
                                <img src="images/testimonials/pic3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
