<!-- About US -->
<section class="content-inner" id="multigama-service-about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 m-md-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="about-media style-2">
                    <img src="{{ asset('assets/images/pic-7.jpg') }}" class="img-cover" alt=""/>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div class="section-head style-2">
                    <h5 class="sub-title">DESPRE NOI</h5>
                    <h2 class="title">{{ aboutHeader }}</h2>
                </div>
                <p>
                    Multigama Service este un lider de necontestat în domeniul întreținerii, reparației și oferirii
                    de soluții complete pentru pompele industriale. Cu o echipă experimentată și o abordare
                    dedicată, ne angajăm să aducem performanță și fiabilitate în universul transportului și
                    manipulării fluidelor în industrie.
                </p>
                <h4>
                    Servicii de Întreținere și Reparații Profesionale
                </h4>
                <p>
                    Atelierul nostru tehnic este inima operațiunilor noastre, unde specialiștii noștri calificați se
                    ocupă de întreținerea și reparațiile pompelor industriale. De la servicii preventive și
                    predictibile la intervenții complexe de reparații, punem la dispoziție soluții personalizate
                    pentru a menține echipamentele în funcționare optimă.
                </p>
                <h4>
                    Expertiză în Pompe Industriale și Consultanță Profesională
                </h4>
                <p>
                    Cu o gamă largă de cunoștințe în pompele industriale, oferim consultanță specializată pentru a
                    vă ghida în alegerea celor mai potrivite soluții pentru necesitățile dvs. specifice. Indiferent
                    dacă este vorba de pompe centrifuge, cu piston sau alte tipuri specializate, suntem aici pentru
                    a vă oferi expertiză și suport tehnic de încredere.
                </p>
                <h4>
                    Parteneriate Durabile și Calitate Garantată
                </h4>
                <p>
                    Ne străduim să construim parteneriate durabile bazate pe încredere și rezultate de înaltă
                    calitate. Cu fiecare serviciu oferit, aducem un angajament pentru calitate și performanță, menit
                    să sprijine și să optimizeze operațiunile dvs. industriale.
                </p>
                <p>
                    Descoperiți fiabilitatea și performanța în soluțiile noastre complete pentru întreținere și
                    reparații de pompe industriale, alături de Multigama Service
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About US -->
