<!-- About US -->
<section class="content-inner" id="multigama-service-about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 m-md-b30 aos-item" data-aos="fade-up" data-aos-duration="800"
                 data-aos-delay="200">
                <div class="about-media style-2">
                    <img src="{{ asset('assets/images/multigama-service-despre-noi.jpg') }}" class="img-cover" alt=""/>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800"
                 data-aos-delay="400">
                <div class="section-head style-2">
                    <h5 class="sub-title">DESPRE NOI</h5>
                    <h2 class="title">{{ aboutHeader }}</h2>
                </div>
                <p>
                    Multigama Service, infiintata in 2015, este o firmă parte a grupului Multigama și partener exclusiv
                    de service în România al companiei KSB SEE. Obiectivul companiei este de a pune la dispoziția
                    clienților săi o gamă largă de activități menită să asigure sprijinul acestora în toate domeniile de
                    activitate (apă curată, apă uzată, energie, irigații, bazine piscicole, epurarea apei, sisteme de
                    întreținere clădiri, sisteme anti-incendiu, industrie alimentară, industrie chimică, petro-chimie
                    etc.).
                </p>
                <p>
                    Printre cele mai importante servicii oferite de către Multigama Service clienților săi sunt:
                </p>
                <ul class="list-unstyled">
                    <li>Mentenanță preventivă, predictivă și corectivă pentru toate ansamblurile de echipamente pentru
                        ridicare a presiunii și agitare fluide (pompe, grupuri de pompare, stații de pompare,
                        echipamente de stingere a incendiilor, motoare electrice, mixere submersibile etc.) pe toată
                        durata de viață a echipamentelor (garanție și post-garanție);
                    </li>
                    <li>Asistență tehnică la montarea și punerea în funcțiune a tuturor echipamentelor comercializate;</li>
                    <li>Furnizare echipamente noi, performante si eficiente din punct de vedere hidraulic și energetic;</li>
                    <li>Furnizare piese de schimb pe toată durata de viață a echipamentelor;</li>
                    <li>Suport tehnic în alegerea și dimensionarea echipamentelor pentru diverse tipuri de aplicații în funcție de necesitatea clientului;</li>
                    <li>Suport tehnic în vederea înlocuirii echipamentelor vechi și neperformante etc.</li>
                </ul>
                <p>
                    Compania are in dotare toate echipamentele necesare desfășurării unei activăți performante:
                </p>
                <ul>
                    <li>Mașini de intervenție; </li>
                    <li>Personal instruit;</li>
                    <li>Echipamente de lucru profesionale (macara, apara de aliniere laser, aparat de măsurat vibrații, prese hidraulice, aparatură electrică etc.); </li>
                    <li>Atelier de reparatii;</li>
                    <li>Atelier de bobinaj;</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- About US -->
