//MEDIA QUERY MANAGER
// 0 - 500: Phone
// 500 - 900: Tablet portrait
// 900 - 1200: Tablet landscape
// 1200 - 1800: Normal styles
// 1800+ : Big Desktopz
// 1em = 16px
// The smaller device rules always should write below the bigger device rules
// Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
@mixin respond($breakpoint) {
    @if ($breakpoint=="phone") {
        @media only screen and (max-width: 575px) {
            @content;
        }
    }
    @if ($breakpoint=="phone-land") {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @if ($breakpoint=="tab-port") {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }
    @if ($breakpoint=="tab-port-min") {
        @media only screen and (min-width: 991px) {
            @content;
        }
    }
    @if ($breakpoint=="tab-land") {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @if ($breakpoint=="tab-land-min") {
        @media only screen and (min-width: 1199px) {
            @content;
        }
    }
    @if ($breakpoint=="laptop") {
        @media only screen and (max-width: 1400px) {
            @content;
        }
    }
    @if ($breakpoint=="desktop") {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }
    @if ($breakpoint=="wide-desktop") {
        @media only screen and (max-width: 1680px) {
            @content;
        }
    }
    @if ($breakpoint=="wide-desktop-min") {
        @media only screen and (min-width: 1680px) {
            @content;
        }
    }
    @if ($breakpoint=="big-desktop") {
        @media only screen and (min-width: 1800px) {
            @content;
        }
    }
}

//don't use it untill you need this too much
@mixin custommq($min: null, $max: null) {
    @if ($min !=null and $max !=null) {
        @media only screen and (min-width: $min) and (max-width: $max) {
            @content;
        }
    }
    @if ($min==null and $max !=null) {
        @media only screen and (max-width: $max) {
            @content;
        }
    }
    @if ($min !=null and $max==null) {
        @media only screen and (min-width: $min) {
            @content;
        }
    }
}

// transition
@mixin transitionNone {
    transition: none;
}

@mixin transitionSlow {
    transition: all 0.5s;
}

@mixin transitionMedium {

    transition: all 0.8s;
}

@mixin transitionFast {

    transition: all 0.2s;
}

@mixin translateZ {
    transform: translate(-50%, -50%);
}

@mixin transformScale {
    transform: scale(1);
}

@mixin transformScaleXS {
    transform: scale(0.8);
}

@mixin transformScaleXS1 {
    transform: scale(0.5);
}

@mixin transformScaleSM {
    transform: scale(1.2);
}

@mixin transformScaleMD {
    transform: scale(1.5);
}
