<!-- Counter -->
<section class="counter-area-2 bg-light">
    <div class="container">
        <div class="counter-inner bg-secondary spno row" style="background-image: url(images/pattern/pattern1.png); background-size: 100%;">
            <div class="col-xl-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="icon-bx-wraper left style-4">
                    <div class="icon-lg">
                        <span class="icon-cell text-primary">
                            <i class="flaticon-briefing"></i>
                        </span>
                    </div>
                    <div class="icon-content">
                        <h2 class="dz-title counter">784</h2>
                        <p>PROJECT COMPLATED</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="icon-bx-wraper left style-4">
                    <div class="icon-lg">
                        <span class="icon-cell text-primary">
                            <i class="flaticon-smile"></i>
                        </span>
                    </div>
                    <div class="icon-content">
                        <h2 class="dz-title counter">587</h2>
                        <p>HAPPY CUSTOMER</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                <div class="icon-bx-wraper left style-4">
                    <div class="icon-lg">
                        <span class="icon-cell text-primary">
                            <i class="flaticon-employee"></i>
                        </span>
                    </div>
                    <div class="icon-content">
                        <h2 class="dz-title counter">368</h2>
                        <p>WORK EMPLOYED</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
                <div class="icon-bx-wraper left style-4">
                    <div class="icon-lg">
                        <span class="icon-cell text-primary">
                            <i class="flaticon-coffee-cup"></i>
                        </span>
                    </div>
                    <div class="icon-content">
                        <h2 class="dz-title counter">987</h2>
                        <p>CUP OF COFFEE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter -->
