<section class="content-inner bg-light hiw-area-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 align-self-center aos-item" data-aos="fade-up" data-aos-duration="1000"
                 data-aos-delay="800">
                <div class="inner-content">
                    <div class="section-head style-2">
                        <h6 class="sub-title">PROCESUL DE LUCRU</h6>
                        <h2 class="title">Mijloace de desfășurare a activității</h2>
                    </div>
                    <div class="icon-bx-wraper left m-b30 style-9 box-hover">
                        <div class="icon-bx-sm icon-bx text-primary radius">
                            <span class="icon-cell">
                                <i class="flaticon-analytics"></i>
                            </span>
                            <div class="list-num">01</div>
                        </div>
                        <div class="icon-content">
                            <h4 class="dz-title">Personal specializat</h4>
                            <p>
                                Personalul EQ-Fire este instruiti si evaluate periodic conform ultimelor standard si
                                procediuri in vigoare. </p>
                        </div>
                    </div>
                    <div class="icon-bx-wraper left m-b30 style-9 box-hover active">
                        <div class="icon-bx-sm icon-bx text-primary radius">
                            <span class="icon-cell">
                                <i class="flaticon-box"></i>
                            </span>
                            <div class="list-num">02</div>
                        </div>
                        <div class="icon-content">
                            <h4 class="dz-title">Echipamente „custom made” – personalizate</h4>
                            <p>
                                Oferim solutii personalizate care corespund nevoilor dumneavoastra unice. Echipa noastră
                                de consultanti experimentati va lucra îndeaproape cu dvs. Pentru a va oferi cea mai buna
                                varianta tehnica. </p>
                        </div>
                    </div>
                    <div class="icon-bx-wraper left m-b30 style-9 box-hover">
                        <div class="icon-bx-sm icon-bx text-primary radius">
                            <span class="icon-cell">
                                <i class="flaticon-gift"></i>
                            </span>
                            <div class="list-num">03</div>
                        </div>
                        <div class="icon-content">
                            <h4 class="dz-title">Experienta</h4>
                            <p>
                                La Eq – Fire , avem o echipa formata din experti scolarizati si experimentati in
                                domeniul luptei impotriva incendiilor. Echipa noastra are in spate ani de experienta in
                                lucrul cu companii de toate dimensiunile și din diverse industrii. Avem un istoric
                                dovedit de succes și ne angajam sa oferim clientiilor nostrii cea mai buna solutie
                                tehnica pentru proiectele acestora. </p>
                        </div>
                    </div>
                    <div class="icon-bx-wraper left m-b30 style-9 box-hover">
                        <div class="icon-bx-sm icon-bx text-primary radius">
                            <span class="icon-cell">
                                <i class="flaticon-gift"></i>
                            </span>
                            <div class="list-num">03</div>
                        </div>
                        <div class="icon-content">
                            <h4 class="dz-title">Stoc cu piese de schimb</h4>
                            <p>
                                Atelierul nostru cuprinde stocul minimal cu piesele de schimb uzuale ale echipamentelor
                                pentru a
                                interveni rapid la solicitarea dumneavoastră. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 m-b30 aos-item" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="800">
                <div class="about-media style-3">
                    <div class="video-bx style-1">
                        <img src="{{ asset('assets/images/pic-9.jpg') }}" alt=""/>
                        <div class="video-btn">
                            <a href="{{ asset('assets/media/video.mp4') }}" class="popup-youtube"><i
                                    class="flaticon-play"></i></a>
                        </div>
                    </div>
                    <img src="{{ asset('assets/images/pic-8.jpg') }}" class="img-cover" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>
