{% extends 'base.html.twig' %}

{% block title %}Edit Disk{% endblock %}

{% block body %}
    <h1>Edit Disk</h1>

    {{ include('disk/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('disk_index') }}">back to list</a>

    {{ include('disk/_delete_form.html.twig') }}
{% endblock %}
