{% extends 'base.html.twig' %}

{% block title %}Disk Index{% endblock %}

{% block body %}
<h1>Disk Index</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <!-- TODO: Add more columns for other Disk properties -->
        </tr>
    </thead>
    <tbody>
    {% for disk in disks %}
        <tr>
            <td>{{ disk.id }}</td>
            <td>{{ disk.name }}</td>
            <!-- TODO: Add more cells for other Disk properties -->
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
