<!-- About US -->
<section class="content-inner" id="multigama-tech-about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 m-md-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="about-media style-2">
                    <img src="{{ asset('assets/images/multigama-tech-despre-noi.jpg') }}" class="img-cover" alt=""/>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div class="section-head style-2">
{#                    <h5 class="sub-title">{% trans %}DESPRE NOI{% endtrans %}</h5>#}
                    <h2 class="title">{{ aboutHeader }}</h2>
                </div>
                <p>
                    {% trans %}Multigama Tech a fost înființată în anul 1999 cu scopul principal de a vinde și produce utilaje de pompare industriale.{% endtrans %}
                </p>
                <p>
                    {% trans %}Cu o experienta de peste 24 de ani, ne-am expus pe piata romaneasca prin profesionalismul si seriozitatea noastra.{% endtrans %}
                </p>
                <h4>
                    {% trans %}Produse de top{% endtrans %}
                </h4>
                <p>
                    {% trans %}Multigama Tech ofera produse de cea mai mare calitate in Romania, prin partenerul sau de business KSB SEE, dar si prin alti parteneri de incredere.{% endtrans %}
                </p>
                <h4>
                    {% trans %}Statii de pompare{% endtrans %}
                </h4>
                <p>{% trans %}In prezent, compania se ocupa de proiectarea si de dezvoltarea productiei de statii de pompare, cautand sa raspundem tuturor cerintelor clientilor si, in viitor, compania sa promoveze exportul acestor utilaje.{% endtrans %}</p>
            </div>
        </div>
    </div>
</section>
<!-- About US -->
