<!-- About US -->
<section class="content-inner" id="multigama-tech-about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 m-md-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="about-media style-2">
                    <img src="{{ asset('assets/images/pic-7.jpg') }}" class="img-cover" alt=""/>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div class="section-head style-2">
                    <h5 class="sub-title">DESPRE NOI</h5>
                    <h2 class="title">{{ aboutHeader }}</h2>
                </div>
                <p>
                    Cu o experiență vastă și o dedicare neclintită față de excelență, Multigama Tech se află în
                    fruntea industriei de vânzare a pompelor industriale. Suntem pasionați de furnizarea soluțiilor
                    ideale pentru nevoile de transport și gestionare a fluidelor în industrie.
                </p>
                <p>
                    Specializați în furnizarea unei game complete de pompe industriale, de la cele de uz general
                    până la cele specializate pentru aplicații specifice, ne străduim să aducem inovație și
                    performanță fiecărui partener industrial.
                </p>
                <h4>
                    Catalogul Nostru: Fiabilitate și Variație
                </h4>
                <p>
                    Catalogul nostru vast de produse reflectă diversitatea necesităților industriale. De la pompe
                    centrifuge la cele de dublu diafragmă, oferim soluții adaptate, fie că este vorba de procese
                    industriale, inginerie, sau alte aplicații specializate. Fiecare produs este selectat cu grijă
                    pentru a se potrivi cerințelor de durabilitate, eficiență și performanță.
                </p>
                <h4>
                    Parteneriate Durabile și Consultanță Profesională
                </h4>
                <p>
                    Suntem mai mult decât un simplu furnizor - suntem partenerul dvs. în găsirea celor mai bune
                    soluții. Echipa noastră de consultanți experimentați vă va ghida în alegerea pompelor potrivite
                    pentru nevoile dvs. specifice. Cu fiecare colaborare, ne străduim să oferim servicii
                    profesionale, suport tehnic și o colaborare de lungă durată.
                </p>
                <p>
                    Descoperiți performanța și fiabilitatea cu Multigama Tech - partenerul dvs. de încredere în
                    lumea pompelor industriale.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About US -->
