<!-- About US -->
<section class="content-inner" id="multigama-tech-about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 m-md-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="about-media style-2">
                    <img src="{{ asset('assets/images/multigama-tech-despre-noi.jpg') }}" class="img-cover" alt=""/>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div class="section-head style-2">
{#                    <h5 class="sub-title">DESPRE NOI</h5>#}
                    <h2 class="title">{{ aboutHeader }}</h2>
                </div>
                <p>
                    Multigama Tech a fost înființată în anul 1999 cu scopul principal de a vinde și produce utilaje de pompare industriale.
                </p>
                <p>
                    Cu o experienta de peste 24 de ani, ne-am expus pe piata romaneasca prin profesionalismul si seriozitatea noastra.
                </p>
                <h4>
                    Produse de top
                </h4>
                <p>
                    Multigama Tech ofera produse de cea mai mare calitate in Romania, prin partenerul sau de business KSB SEE, dar si prin alti parteneri de incredere.
                </p>
                <h4>
                    Statii de pompare
                </h4>
                <p>In prezent, compania se ocupa de proiectarea si de dezvoltarea productiei de statii de pompare, cautand sa raspundem tuturor cerintelor clientilor si, in viitor, compania sa promoveze exportul acestor utilaje.</p>
            </div>
        </div>
    </div>
</section>
<!-- About US -->
