// Site Footer
.site-footer{
	&.style-6{
		position:relative;
		
		.overlay-black-light:before,
		.overlay-black-middle:before,
		.overlay-black-dark:before{
			background-color: #070613;
		}
		.footer-logo img{
			height: 60px;
		}
		.widget_categories{
			li {
				padding-left: 0!important;
				a{
					color: #fff;
					
					&::before{
						opacity: 0;
					}
				}
				&:hover{
					a{
						color: var(--primary);
					&::before{
						opacity: 1;
					}
					}
					padding-left: 0.5rem!important;	

				}
			}
		}
		.widget-title{
			margin-bottom: 15px;
			

			.title{
				color: #fff;
			}
		}
		.widget_about{
			font-weight: 500;
			color: #fff;	
		}
		.widget_gallery{
			ul{
				margin-left: -5px;
				margin-right: -5px;
			}
			li{
				padding: 5px;
				
				img{
					min-height: 80px;
					object-fit: cover;
				}
			}
		}
		.footer-bottom{
			background: #161525;
			.copyright-text{
				color: rgba(255,255,255,0.7);
			}
			.footer-link{
				li{
					
					&::before{
						display: none;
					}
					a{
						color: rgba(255,255,255,0.7);
					}					
					@include respond('phone'){
						padding: 0 10px;
					}
				}
			}
		}
		.footer-link{
			margin: 0 -12px;
			
			li{
				padding: 0 12px;
			}
		}
		.widget-title .title {
			margin-bottom: 5px;
		}
	}
}

.dz-separator.style-3{
	width: 60px;
	height: 2px;
	border-radius: 2px;
	margin: 0;
	background: var(--primary);
	display: block;
}