<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="chemical, company, construction, corporate business, energy industry, engineering, factory, industrial, industry, manufacturing, mechanical, mining, oil gas petroleum plant, pharmaceutical, refinery"/>
	<meta name="author" content="DexignZone"/>
	<meta name="robots" content=""/>
	<meta name="description" content="Mazo - Industry & Factory Bootstrap 5 HTML Template + RTL"/>
	<meta property="og:title" content="Mazo - Industry & Factory Bootstrap 5 HTML Template + RTL"/>
	<meta property="og:description" content="Mazo - Industry & Factory Bootstrap 5 HTML Template + RTL"/>
	<meta property="og:image" content="https://mazo.dexignzone.com/xhtml/social-image.png"/>
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title -->
	<title>Mazo - Industry & Factory Bootstrap 5 HTML Template + RTL</title>

	<!-- Favicon icon -->
    <link rel="icon" type="image/png" href="images/favicon.png">

	<!-- Stylesheet -->
	<link href="../build/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="../build/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="../build/vendor/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
	<link href="../build/vendor/lightgallery/css/lightgallery.min.css" rel="stylesheet">
	<link href="../build/vendor/aos/aos.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<!-- Custom Stylesheet -->
    <link rel="stylesheet" href="../build/css/style.css">
	<link rel="stylesheet" class="skin" href="../build/css/skin/skin-4.css">



</head>
<body id="bg" class="theme-rounded">
<div id="loading-area">
	<div class="loading-inner style-1">
		<div class="wrapper">
			<svg class="img1"  xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet">
				<g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="var(--primary)" stroke="none">
					<path d="M402 988 c-41 -8 -52 -13 -48 -25 21 -53 19 -62 -16 -76 -32 -13 -33
					-13 -52 17 -10 17 -20 33 -21 34 -2 2 -23 -10 -47 -26 -48 -34 -103 -90 -138
					-141 -25 -36 -25 -36 26 -66 14 -9 15 -16 7 -40 -10 -31 -26 -36 -70 -21 -19
					6 -23 2 -30 -31 -10 -47 -10 -165 0 -216 8 -36 9 -37 49 -35 37 3 42 0 51 -27
					8 -24 7 -31 -7 -40 -51 -30 -51 -29 -18 -77 34 -50 111 -122 153 -144 25 -13
					27 -12 45 21 10 19 20 35 22 35 11 0 62 -32 62 -40 0 -5 -5 -21 -10 -36 -6
					-15 -9 -28 -7 -30 2 -2 36 -8 76 -14 66 -9 195 0 210 16 2 2 -1 20 -6 39 -11
					35 -11 36 24 50 20 9 37 14 38 13 1 -2 10 -18 19 -36 l17 -33 31 18 c41 23
					138 120 161 161 l18 31 -33 17 c-18 9 -34 18 -36 19 -2 2 4 17 13 35 17 32 27
					34 78 14 20 -7 33 63 30 161 -3 84 -15 131 -34 127 -58 -14 -66 -13 -71 5 -3
					10 -9 25 -12 34 -5 11 4 20 29 32 l36 17 -18 32 c-24 42 -120 139 -160 161
					l-32 18 -17 -33 c-9 -18 -18 -34 -19 -36 -1 -2 -18 5 -37 14 -34 16 -35 18
					-25 50 6 19 8 36 5 39 -8 9 -109 25 -147 24 -20 -1 -60 -6 -89 -11z m233 -130
					c111 -41 209 -149 235 -259 20 -80 9 -196 -24 -263 -36 -73 -109 -146 -183
					-183 -53 -25 -68 -28 -163 -28 -92 0 -112 3 -160 26 -119 57 -199 163 -222
					296 -48 281 245 514 517 411z"/>
				</g>
			</svg>
			<svg class="img2"  xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet">
				<g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="var(--primary)" stroke="none">
					<path d="M294 728 c-4 -7 -7 -76 -6 -154 3 -141 3 -141 -22 -158 -14 -9 -28
					-16 -30 -16 -3 0 -7 53 -9 118 l-3 117 -2 -117 -2 -118 -30 0 c-16 0 -30 -2
					-30 -5 0 -3 11 -28 25 -56 34 -67 95 -125 164 -158 48 -22 69 -26 151 -26 84
					0 102 3 152 28 66 33 146 115 170 176 l16 41 -29 0 -29 0 0 100 0 100 -50 0
					-50 0 0 40 c0 39 -1 40 -34 40 -31 0 -34 -3 -40 -40 -5 -32 -10 -40 -28 -40
					-11 0 -27 8 -34 18 -16 21 -47 6 -52 -27 -2 -12 -11 -21 -22 -21 -10 0 -20 -7
					-24 -15 -3 -8 -15 -15 -26 -15 -18 0 -21 5 -19 38 1 20 2 65 1 100 -2 55 -4
					63 -19 60 -16 -3 -19 -21 -23 -158 -7 -204 -23 -205 -30 -1 -3 104 -9 156 -17
					158 -6 2 -15 -2 -19 -9z m306 -168 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20
					0 13 7 20 20 20 13 0 20 -7 20 -20z m160 -1 c0 -17 -5 -20 -37 -17 -27 2 -39
					8 -41 21 -3 14 4 17 37 17 35 0 41 -3 41 -21z m-320 -90 c0 -43 -3 -50 -17
					-47 -14 2 -19 15 -21 51 -3 42 -1 47 17 47 18 0 21 -6 21 -51z m145 14 c-12
					-66 -24 -73 -25 -15 0 41 3 52 16 52 13 0 15 -7 9 -37z m175 -23 c0 -33 -4
					-60 -10 -60 -5 0 -10 5 -10 10 0 6 -6 10 -14 10 -8 0 -17 14 -21 33 -4 17 -9
					40 -11 50 -4 14 1 17 30 17 l36 0 0 -60z"/>
				</g>
			</svg>
		</div>
		<div class="load-text">
			<span data-text="M" class="text-load">M</span>
			<span data-text="A" class="text-load">A</span>
			<span data-text="Z" class="text-load">Z</span>
			<span data-text="O" class="text-load">O</span>
		</div>
	</div>
</div>
<div class="page-wraper">
	<!-- Header -->
	<header class="site-header mo-left header style-1">
		<!-- Header Top Bar -->
		<div class="top-bar bg-secondary text-white">
			<div class="container">
				<div class="dz-topbar-inner d-flex justify-content-between align-items-center">
					<div class="dz-topbar-left">
						<ul>
							<li><i class="fas fa-map-marker-alt"></i> 15/B Miranda House, New York, US</li>
							<li><i class="far fa-envelope"></i> info@supports.com</li>
						</ul>
					</div>
					<div class="dz-topbar-right">
						<ul class="dz-social">
							<li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/"></a></li>
							<li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/"></a></li>
							<li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/"></a></li>
							<li><a target="_blank" class="fab fa-youtube" href="https://www.youtube.com/"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Header -->
		<div class="sticky-header main-bar-wraper navbar-expand-lg text-black">
			<div class="main-bar clearfix">
				<div class="container clearfix bg-white">
					<!-- Website Logo -->
					<div class="logo-header mostion logo-dark">
						<a href="home.html.twig"><img src="images/logo.png" alt=""></a>
					</div>
					<!-- Nav Toggle Button -->
					<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<!-- Extra Nav -->
					<div class="extra-nav">
						<div class="extra-cell">
							<a href="contact-us.html.twig" class="btn shadow-primary btn-secondary btn-quote">
								<span>GET A QUOTE</span>
							</a>
						</div>
					</div>
					<!-- Extra Nav -->
					<!-- Quik Search -->
					<div class="dz-quik-search">
						<form action="#">
							<input name="search" value="" type="text" class="form-control" placeholder="Enter Your Keyword ...">
							<span  id="quik-search-remove"><i class="ti-close"></i></span>
						</form>
					</div>
					<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
						<div class="logo-header logo-dark">
							<a href="home.html.twig"><img src="images/logo.png" alt=""></a>
						</div>
						<ul class="nav navbar-nav">
							<li class="active sub-menu-down"> <a href="javascript:;">Home</a>
								<ul class="sub-menu">
									<li class="new-page"><a href="../onepage/index-5.html">Home - Industry</a></li>
									<li><a href="../1_Factory/index.html">Home - Default</a></li>
									<li><a href="../2_LeatherIndustry/index.html">Home - Leather Industry</a></li>
									<li><a href="../3_MiningIndustry/index-2.html">Home - Mining Industry 1</a></li>
									<li><a href="../4_Solor/index.html">Home - Solar Plant</a></li>
									<li><a href="../3_MiningIndustry/index.html">Home - Mining Industry 2</a></li>
									<li><a href="../5_Industry/index.html">Home - Factory</a></li>
									<li><a href="../onepage/index.html">Home - Construction</a></li>
									<li><a href="../onepage/index-2.html">Home - Agriculture</a></li>
									<li><a href="../onepage/index-3.html">Home - Food Industry</a></li>
									<li><a href="../onepage/index-4.html">Home - Electrician</a></li>
								</ul>
							</li>
							<li class="sub-menu-down"><a href="javascript:void(0);">Pages</a>
								<ul class="sub-menu">
									<li><a href="about-us.html.twig">About Us</a></li>
									<li><a href="team.html.twig">Team</a></li>
									<li><a href="coming-soon.html.twig">Coming Soon</a></li>
									<li><a href="under-construct.html.twig">Under Construct</a></li>
									<li><a href="error-404.html.twig">Error 404</a></li>
								</ul>
							</li>
							<li class="sub-menu-down"><a href="javascript:void(0);">Portfolio</a>
								<ul class="sub-menu">
									<li><a href="portfolio.html.twig">Portfolio </a></li>
									<li><a href="portfolio-details.html.twig">Portfolio Details</a></li>
								</ul>
							</li>
							<li class="sub-menu-down"><a href="javascript:void(0);">Services</a>
								<ul class="sub-menu">
									<li><a href="services.html.twig">Services</a></li>
									<li><a href="services-details.html.twig">Services Details</a></li>
								</ul>
							</li>
							<li class="sub-menu-down"><a href="javascript:void(0);">Blog</a>
								<ul class="sub-menu">
									<li><a href="blog-grid.html.twig">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li><a href="contact-us.html.twig">Contact Us</a></li>
						</ul>
						<div class="dz-social-icon">
							<ul>
								<li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/"></a></li>
								<li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/"></a></li>
								<li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/"></a></li>
								<li><a target="_blank" class="fab fa-youtube" href="https://www.youtube.com/"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Header End -->

	</header>
	<!-- Header End -->

	<div class="page-content bg-white">
		<!-- Banner  -->
		<div class="dz-bnr-inr style-2 dz-bnr-inr-md overlay-black-middle" style="background-image: url('{{ asset_image('assets/images/banner/bnr1.jpg') }}');">
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<h1>Blog Details</h1>
					<p>Aliquam sollicitudin dignissim nibh ac vestibulum. Mauris imperdiet sem sed quam placerat, nec euismod magna hendrerit.</p>
					<!-- Breadcrumb Row -->
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="home.html.twig">Home</a></li>
							<li class="breadcrumb-item">Blog</li>
							<li class="breadcrumb-item">Blog Details</li>
						</ul>
					</nav>
					<!-- Breadcrumb Row End -->
				</div>
			</div>
			<div class="shap-bx">
				<div class="bg-shape-left"></div>
				<div class="bg-shape-right"></div>
			</div>
		</div>
		<!-- Banner End -->

		<!-- Blog Large -->
		<div class="content-inner bg-img-fix">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 col-lg-8 m-b20">
						<div class="dz-card blog-single sidebar">
							<div class="dz-media post-video">
								<div class="post-video-icon"><i class="flaticon-play"></i></div>
								<a href="blog-details.html">
									<img src="images/blog/large/pic1.jpg" alt="">
									<div class="post-video-icon"><i class="flaticon-play"></i></div>
								</a>
							</div>
							<div class="dz-info">
								<div class="dz-meta">
									<ul>
										<li class="post-date"><i class="flaticon-calendar"></i> 12 June, 2023</li>
										<li class="post-user"><i class="flaticon-user"></i> By <a href="javascript:void(0);">John Doe</a></li>
									</ul>
									<ul>
										<li class="post-date"><i class="flaticon-heart"></i> 85</li>
										<li class="post-user"><i class="flaticon-speech-bubble"></i> <a href="javascript:void(0);">47</a></li>
									</ul>
								</div>
								<h2 class="dz-title">Nullam dignissim magna justo, eu tincidunt tortor dapibus et. Proin lobortis ipsum orci.</h2>
								<div class="dz-post-text">
									<p>Mauris sit amet massa vel tellus malesuada ultrices laoreet ut odio. Suspendisse in leo a mauris egestas ultrices. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Vivamus commodo fringilla mattis. Nulla malesuada dictum turpis, nec condimentum orci vestibulum at. Cras vitae facilisis augue. Donec fringilla ipsum non mattis pellentesque. Praesent at volutpat nulla.</p>
									<blockquote class="block-quote style-1">
										<p>“ You can make anything look good. Only a quarter of young adults are financially literate. You don’t want to overwhelm them with terrible advice. ”</p>
										<cite>Mazo</cite>
									</blockquote>
									<ul class="wp-block-gallery columns-3">
										<li class="blocks-gallery-item"><img alt="" src="images/blog/blog-grid/pic2.jpg"></li>
										<li class="blocks-gallery-item"><img alt="" src="images/blog/blog-grid/pic1.jpg"></li>
									</ul>
									<p>When designers introduce motion, something magical happens – a design comes alive – an app becomes an interactive story that can engage users. Designers have a lot of tools to make a story more interesting. You can align your image to the left, right, or center with a caption, link and alt text New Journey to the Mars in the Gutenberg editor.</p>
									<h4>20th Century Revolution</h4>
									<p>Pellentesque congue at augue et porttitor. Aenean volutpat porttitor euismod. Suspendisse eget pretium augue. Etiam venenatis non elit quis tincidunt.</p>
									<p>I had low expectations about Sofia as a city, but after the walking tour I absolutely loved the place. This was an easy city to navigate, and it was a beautiful city – despite its ugly, staunch and stolid communist-built surrounds. Sofia has a very average facade as you enter the city, but once you lose yourself in the old town area, everything changes.</p>
									<ul>
										<li><a rel="noreferrer noopener" href="javascript:void(0);">The feedback provided by a system is</a> not very informative. It’s not clear how a system handles your request or what exactly happens with the information.</li>
										<li>Today we explore <a rel="noreferrer noopener" href="javascript:void(0);">the concept of motion design in the interfaces of the future</a> with Artificial Intelligence (AI) assistants. It is a sort of a decider: whether your readers will be back or ditch you.</li>
										<li><a href="javascript:void(0);" rel="noreferrer noopener">These simple survey measures</a> seem credible. But according to psychologists, happiness and life satisfaction do not coincide. <a href="javascript:void(0);" rel="noreferrer noopener">Life satisfaction has a cognitive component.</a></li>
									</ul>
									<h4>He runs towards the Maybury Hill: Embeds.</h4>
									<p>Mauris egestas erat ut arcu interdum molestie. Nam sed hendrerit lorem. Duis eget orci ac odio gravida laoreet. Donec et diam varius, semper justo at, accumsan elit. Aenean ut condimentum purus, et egestas lectus. Nulla pretium justo ex, vel iaculis velit aliquet et. Cras sed nisi id ante congue scelerisque non at eros. In finibus rutrum justo nec fringilla. Etiam id augue ornare, dictum tortor ut, tristique metus.</p>
									<p>Certainly, they are not an answer to everything. The key feature of a website generator lies in universality. In principle, they should meet the requirements and expectations of the majority. When it comes to situations when you require something special or unique, this isn’t the option for you.</p>

									<p>We woke reasonably late following the feast and free flowing wine the night before. After gathering ourselves and our packs, we headed down to our home stay family’s small dining room for breakfast. We were making our way to the Rila Mountains, where we were visiting the Rila Monastery where we enjoyed scrambled eggs.</p>
								</div>
								<div class="dz-meta meta-bottom">
									<div class="post-tags">
										<strong>Tags:</strong>
										<a href="javascript:void(0);">Child</a>
										<a href="javascript:void(0);">Eduction</a>
										<a href="javascript:void(0);">Money</a>
										<a href="javascript:void(0);">Resturent</a>
									</div>
									<div class="dz-share-post">
										<ul class="dz-social-icon">
											<li><a target="_blank" href="https://www.facebook.com/" class="fab fa-facebook-f"></a></li>
											<li><a target="_blank" href="https://twitter.com/" class="fab fa-twitter"></a></li>
											<li><a target="_blank" href="https://www.instagram.com/" class="fab fa-instagram"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- blog start -->
						<div class="row extra-blog style-1">
							<div class="col-lg-12">
								<div class="widget-title">
									<h5 class="title">Related Blogs</h5>
									<div class="dz-separator style-1 text-primary mb-0"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="row">
									<div class="col-md-6">
										<div class="dz-card blog-grid style-2 text-center m-b10">
											<div class="dz-media">
												<a href="blog-details.html"><img src="images/blog/blog-grid/pic1.jpg" alt=""></a>
											</div>
											<div class="dz-info">
												<div class="dz-meta">
													<ul>
														<li class="post-date"><i class="flaticon-calendar"></i> 12 June, 2023</li>
													</ul>
												</div>
												<h4 class="dz-title"><a href="blog-details.html">Pellentesque pharetra luctus sodales quisque felis.</a></h4>
												<a href="blog-details.html" class="btn-link"><i class="flaticon-chevron"></i> READ MORE</a>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="dz-card blog-grid style-2 text-center m-b10">
											<div class="dz-media">
												<a href="blog-details.html"><img src="images/blog/blog-grid/pic1.jpg" alt=""></a>
											</div>
											<div class="dz-info">
												<div class="dz-meta">
													<ul>
														<li class="post-date"><i class="flaticon-calendar"></i> 12 June, 2023</li>
													</ul>
												</div>
												<h4 class="dz-title"><a href="blog-details.html">Pellentesque pharetra luctus sodales quisque felis.</a></h4>
												<a href="blog-details.html" class="btn-link"><i class="flaticon-chevron"></i> READ MORE</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        <div class="clear" id="comment-list">
                            <div class="comments-area style-1" id="comments">
								<div class="widget-title">
									<h5 class="title">8 Comments</h5>
									<div class="dz-separator style-1 text-primary mb-0"></div>
								</div>
								<div class="clearfix">
                                    <!-- comment list END -->
                                    <ol class="comment-list">
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard">
													<img  class="avatar photo" src="images/testimonials/pic1.jpg" alt="">
													<cite class="fn">Celesto Anderson</cite>
												</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <div class="reply">
													<a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
												</div>
                                            </div>
                                            <ol class="children">
                                                <li class="comment odd parent">
                                                    <div class="comment-body">
                                                        <div class="comment-author vcard">
															<img  class="avatar photo" src="images/testimonials/pic2.jpg" alt="">
															<cite class="fn">Jake Johnson</cite>
														</div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
														<div class="reply">
															<a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
														</div>
                                                    </div>
                                                    <!-- list END -->
                                                </li>
                                            </ol>
                                            <!-- list END -->
                                        </li>
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard">
													<img  class="avatar photo" src="images/testimonials/pic3.jpg" alt="">
													<cite class="fn">John Doe</cite>
												</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												<div class="reply">
													<a href="javascript:void(0);" class="comment-reply-link"><i class="fa fa-reply"></i>Reply</a>
												</div>
                                            </div>
                                        </li>
                                    </ol>
                                    <!-- comment list END -->
                                    <!-- Form -->
                                    <div class="comment-respond style-1" id="respond">
										<div class="widget-title">
											<h5 class="title">Leave Your Comment</h5>
											<div class="dz-separator style-1 text-primary mb-0"></div>
											<a style="display:none;" href="javascript:void(0);" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a>
										</div>
                                        <form class="comment-form" id="commentform" method="post">
                                            <p class="comment-form-author">
                                                <label for="author">Name <span class="required">*</span></label>
                                                <input type="text" name="Author"  placeholder="Author" id="author">
                                            </p>
                                            <p class="comment-form-email">
                                                <label for="email">Email <span class="required">*</span></label>
                                                <input type="text" placeholder="Email" name="email" id="email">
                                            </p>
                                            <p class="comment-form-comment">
                                                <label for="comment">Comment</label>
                                                <textarea rows="8" name="comment" placeholder="Comment" id="comment"></textarea>
                                            </p>
                                            <p class="form-submit">
												<button type="submit" class="btn shadow-primary btn-primary" id="submit">POST NOW</button>
                                            </p>
                                        </form>
                                    </div>
                                    <!-- Form -->
                                </div>
                            </div>
                        </div>
                        <!-- blog END -->
					</div>
					<div class="col-xl-4 col-lg-4 m-b30 dz-order-1">
						<aside class="side-bar sticky-top left">
							<div class="widget">
                                <div class="search-bx style-1">
									<div class="widget-title">
										<h5 class="title">Search</h5>
									</div>
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="text" class="form-control" placeholder="Enter your keywords..." type="text">
                                            <span class="input-group-btn">
												<button type="submit" class="btn radius-no"><i class="la la-search scale3"></i></button>
											</span>
										</div>
                                    </form>
                                </div>
                            </div>
							<div class="widget widget_categories">
                                <div class="widget-title">
									<h5 class="title">Categories</h5>
									<div class="dz-separator style-1 text-primary mb-0"></div>
								</div>
                                <ul>
                                    <li class="cat-item"><a href="javascript:void(0);">Factory </a>(09)</li>
									<li class="cat-item"><a href="javascript:void(0);">Competitve </a>(02)</li>
									<li class="cat-item"><a href="javascript:void(0);">Industry </a>(08)</li>
									<li class="cat-item"><a href="javascript:void(0);">Business </a>(20)</li>
									<li class="cat-item"><a href="javascript:void(0);">Marketing </a>(10)</li>
									<li class="cat-item"><a href="javascript:void(0);">Blog </a>(23)</li>
                                </ul>
                            </div>
                            <div class="widget recent-posts-entry">
                                <div class="widget-title">
									<h5 class="title">Recent Posts</h5>
									<div class="dz-separator style-1 text-primary mb-0"></div>
								</div>
                                <div class="widget-post-bx">
                                    <div class="widget-post clearfix">
                                        <div class="dz-media">
											<a href="blog-details.html"><img src="images/blog/recent-blog/pic1.jpg" alt=""></a>
										</div>
                                        <div class="dz-info">
											<h4 class="title"><a href="blog-details.html">Why You Cannot Learn Construction Well</a></h4>
                                            <div class="dz-meta">
												<ul>
													<li class="post-date"> <i class="flaticon-calendar"></i> 12 June, 2023 </li>
												</ul>
											</div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="dz-media">
											<a href="blog-details.html"><img src="images/blog/recent-blog/pic2.jpg" alt=""></a>
										</div>
                                        <div class="dz-info">
											<h6 class="title"><a href="blog-details.html">Reasons Why You Shouldn’t Rely On Construction Anymore.</a></h6>
											<div class="dz-meta">
												<ul>
													<li class="post-date"> <i class="flaticon-calendar"></i> 11 June, 2023 </li>
												</ul>
											</div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="dz-media">
											<a href="blog-details.html"><img src="images/blog/recent-blog/pic3.jpg" alt=""></a>
										</div>
                                        <div class="dz-info">
											<h6 class="title"><a href="blog-details.html">Construction Any Good? 5 Ways You Can Be Certain.</a></h6>
                                            <div class="dz-meta">
												<ul>
													<li class="post-date"> <i class="flaticon-calendar"></i> 09 June, 2023 </li>
												</ul>
											</div>
                                        </div>
                                    </div>
									<div class="widget-post clearfix">
                                        <div class="dz-media">
											<a href="blog-details.html"><img src="images/blog/recent-blog/pic4.jpg" alt=""></a>
										</div>
                                        <div class="dz-info">
											<h6 class="title"><a href="blog-details.html">Morbi ac purus porttitor, dictum dui sit amet, interdum</a></h6>
                                            <div class="dz-meta">
												<ul>
													<li class="post-date"> <i class="flaticon-calendar"></i> 08 June, 2023 </li>
												</ul>
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="widget widget_tag_cloud">
								<div class="widget-title">
									<h5 class="title">Tages</h5>
									<div class="dz-separator style-1 text-primary mb-0"></div>
								</div>
                                <div class="tagcloud">
									<a href="javascript:void(0);">Factory</a>
									<a href="javascript:void(0);">Corporate</a>
									<a href="javascript:void(0);">Blog</a>
									<a href="javascript:void(0);">Marketing</a>
									<a href="javascript:void(0);">Creative</a>
									<a href="javascript:void(0);">Web</a>
									<a href="javascript:void(0);">Workers</a>
									<a href="javascript:void(0);">Morden</a>
								</div>
                            </div>
                        </aside>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Footer -->
    <footer class="site-footer style-2" id="footer" style="background-image: url(images/background/map-bg.png); background-size: contain; background-repeat: no-repeat;">
		<div class="footer-info">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-sm-6 m-b30 m-sm-0">
						<div class="footer-logo logo-white">
							<img src="images/logo-white.png" alt="">
						</div>
					</div>
					<div class="col-sm-6 text-start text-sm-end">
						<ul class="social-list">
							<li><a target="_blank" href="https://www.facebook.com/" class="btn facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li><a target="_blank" href="https://www.instagram.com/" class="btn instagram"><i class="fab fa-instagram"></i></a></li>
							<li><a target="_blank" href="https://twitter.com/" class="btn twitter"><i class="fab fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-top">
            <div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
						<div class="widget widget_about">
							<div class="widget-title">
								<h4 class="title">About Us</h4>
							</div>
							<p>Cras faucibus ornare ipsum, non luctus leo imperdiet sit amet. Praesent egestas orci eu risus iaculis luctus. Phasellus maximus orci metus. Nullam enim ex, facilisis at lacinia sed, luctus vitae dolor.</p>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
						<div class="widget widget_getintuch">
							<div class="widget-title">
								<h4 class="title">Contact Us</h4>
							</div>
							<ul>
								<li>
									<i class="fas fa-map-marker-alt"></i>
									<span>Marmora Road City, Demo Address #8901, Vietnam</span>
								</li>
								<li>
									<i class="fas fa-phone-alt"></i>
									<span>+91 987 654 3210</span><br>
									<span>+91 123 456 7890</span>
								</li>
								<li>
									<i class="fas fa-envelope"></i>
									<span>info@example.com</span><br>
									<span>info@supports.com</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
						<div class="widget widget_categories">
							<div class="widget-title">
								<h4 class="title">Our Services</h4>
							</div>
							<ul class="list-1">
								<li class="cat-item"><a href="services.html.twig">Maintenance</a></li>
								<li class="cat-item"><a href="services.html.twig">Petroleum</a></li>
								<li class="cat-item"><a href="services.html.twig">Agricultural</a></li>
								<li class="cat-item"><a href="services.html.twig">Material</a></li>
								<li class="cat-item"><a href="services.html.twig">Building</a></li>
								<li class="cat-item"><a href="services.html.twig">24x7 Support</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
						<div class="widget widget_gallery gallery-grid-2">
							<div class="widget-title">
								<h4 class="title">Gallery</h4>
							</div>
							<ul class="lightgallery">
								<li>
									<span data-exthumbimage="images/gallery/small/pic1.jpg" data-src="images/gallery/large/pic1.jpg" class="lightimg" title="Maintenance">
										<img src="images/gallery/small/pic1.jpg" alt="">
									</span>
								</li>
								<li>
									<span data-exthumbimage="images/gallery/small/pic2.jpg" data-src="images/gallery/large/pic2.jpg" class="lightimg" title="Petroleum">
										<img src="images/gallery/small/pic2.jpg" alt="">
									</span>
								</li>
								<li>
									<span data-exthumbimage="images/gallery/small/pic3.jpg" data-src="images/gallery/large/pic3.jpg" class="lightimg" title="Agricultural">
										<img src="images/gallery/small/pic3.jpg" alt="">
									</span>
								</li>
								<li>
									<span data-exthumbimage="images/gallery/small/pic4.jpg" data-src="images/gallery/large/pic4.jpg" class="lightimg" title="Material">
										<img src="images/gallery/small/pic4.jpg" alt="">
									</span>
								</li>
							</ul>
                        </div>
					</div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row fb-inner">
					<div class="col-lg-6 text-center text-lg-start">
						<span class="copyright-text">Copyright © 2023 <span class="heart"></span> <a href="https://dexignzone.com/" class="text-primary" target="_blank">DexignZone</a> All rights reserved.</span>
					</div>
					<div class="col-lg-6 text-center text-lg-end mt-lg-0 mt-2">
						<ul class="footer-link d-inline-block">
							<li><a href="javascript:void(0);">Privacy Policy</a></li>
							<li><a href="javascript:void(0);">Team &amp; Condition</a></li>
						</ul>
					</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
	<button class="scroltop icon-up" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="../build/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="../build/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="../build/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC-POPUP JS -->
<script src="../build/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="../build/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="../build/vendor/swiper/swiper-bundle.min.js"></script><!-- SWIPER -->
<script src="../build/vendor/lightgallery/js/lightgallery-all.min.js"></script><!-- LIGHTGALLERY -->
<script src="../build/vendor/aos/aos.js"></script><!-- AOS -->
<script src="../build/vendor/perfect-scrollbar/js/perfect-scrollbar.min.js"></script><!-- Perfect Scrollbar -->
<script src="../build/js/dz.carousel.js"></script><!-- OWL CAROUSEL -->
<script src="../build/js/dz.ajax.js"></script><!-- AJAX -->
<script src="../build/js/custom.js"></script><!-- CUSTOM JS -->


</body>
</html>
