<!-- About US -->
<section class="content-inner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 m-md-b30 aos-item" data-aos="fade-up" data-aos-duration="800"
                 data-aos-delay="200">
                <div class="about-media style-2">
                    <img src="{{ asset('assets/images/istoria-mtg-group.jpg') }}" class="img-cover" alt=""/>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800"
                 data-aos-delay="400">
                <div class="section-head style-2">
                    <h5 class="sub-title">{% trans %}DESPRE NOI{% endtrans %}</h5>
                    <h2 class="title">{% trans %}Istoria Multigama Group{% endtrans %}</h2>
                </div>
                <p>
                    {% trans %}Povestea grupului Multigama a început cu firma Multigama Industrial, înființată la 4 decembrie 1990 de un grup de ingineri, foști angajați ai companiei AVERSA, specializați în domeniul pompelor. Principalul obiectiv a fost de a vinde și produce pompe pentru uz casnic care nu existau pe piața românească de la acea vreme.{% endtrans %}
                </p>
                <p>
                    {% trans %}Primul proiect realizat de Multigama Industrial a fost reabilitarea echipamentului de pompare de la Casa Enescu, în anul 1991.{% endtrans %}

                </p>
                <p>
                    {% trans %}Multigama Industrial producea hidrofoare pentru uz casnic, care se vindeau foarte bine în București, din cauza presiunii scăzute a apei pe care orașul îl avea în acel moment, precum și pompe submersibile.{% endtrans %}
                </p>
                <p>
                    {% trans %}Multigama Tech a fost înființată în anul 1999 cu scopul principal de a vinde și produce produse industriale. În anul 2000, compania devine reprezentantul KSB în România, iar în 2010 devine reprezentantul KSB in Republica Moldova.{% endtrans %}
                </p>
                <p>
                    {% trans %}Multigama Industrial a continuat vânzările generale și service-ul pentru echipamente de pompare până în anul 2006, când activitatea companiei a fost preluată de Multigama Tech, odată cu fuziunea Multigama Industrial cu Multigama Tech.{% endtrans %}

                </p>
                <p>
                    {% trans %}Până în anul 2016, Multigama Tech a desfășurat activități specifice de service: întreținere, reparații, etc. Din 2016, departamentul "After Sales - Service" a devenit o subsidiara a Multigama Tech, denumită Multigama Service, astfel formând un grup de companii. Multigama Service este service-ul exclusiv KSB pentru România și Republica Moldova.{% endtrans %}
                </p>
                <p>
                    {% trans %}După 2016, Multigama TECH a rămas cu următoarele activități: Fabricarea de stații de pompare pentru canalizare, lichide și cu separarea solidelor, fabricarea de stații de pompare a apei potabile, montate în containere; vânzarea de echipamente de pompare pentru stingerea incendiilor, care sunt în conformitate cu standardele FM (SUA), EN (UE) sau locale. Produsele sunt realizate folosind echipamente KSB sau de la alți producători.{% endtrans %}

                </p>
                <p>
                    {% trans %}În 2021, EQ Fire a fost înființată ca o filială a Multigama Tech, care a preluat Departamentul de vânzări pentru produse de firefighting al Multigama Tech.{% endtrans %}

                </p>
            </div>
        </div>
    </div>
</section>
<!-- About US -->
