<!-- About US -->
<section class="content-inner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 m-md-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="about-media style-2">
                    <img src="images/about/pic7.jpg" class="img-cover" alt=""/>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div class="section-head style-2">
                    <h5 class="sub-title">ABOUT US</h5>
                    <h2 class="title">We Work With You For Solution</h2>
                </div>
                <p>Sed posuere nisl turpis, blandit commodo massa consequat sit amet. Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum.</p>
                <ul class="list-settings font-weight-500 text-secondary primary m-b30">
                    <li>In vel fermentum nibh, semper faucibus dolor. Duis eleifend justo id tellus posuere posuere.</li>
                    <li>Sed a mattis metus, in elementum arcu. Nullam id neque eget ipsum consectetur pretium.</li>
                    <li>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                </ul>
                <a href="about-us.html.twig" class="btn btn-secondary">READ MORE</a>
            </div>
        </div>
    </div>
</section>
<!-- About US -->
