<!-- Header -->
<header class="site-header mo-left header style-1">
    <!-- Header Top Bar -->
    <div class="top-bar bg-secondary text-white">
        <div class="container">
            <div class="dz-topbar-inner d-flex justify-content-between align-items-center">
                <div class="dz-topbar-left">
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> 15/B Miranda House, New York, US</li>
                        <li><i class="far fa-envelope"></i> info@supports.com</li>
                    </ul>
                </div>
                <div class="dz-topbar-right">
                    <ul class="dz-social">
                        <li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/"></a></li>
                        <li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/"></a></li>
                        <li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/"></a></li>
                        <li><a target="_blank" class="fab fa-youtube" href="https://www.youtube.com/"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg text-black">
        <div class="main-bar clearfix">
            <div class="container clearfix bg-white">
                <!-- Website Logo -->
                <div class="logo-header mostion logo-dark">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <!-- Nav Toggle Button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- Extra Nav -->
                <div class="extra-nav">
                    <div class="extra-cell">
                        <a href="contact-us.html.twig" class="btn shadow-primary btn-secondary btn-quote">
                            <span>GET A QUOTE</span>
                        </a>
                    </div>
                </div>
                <!-- Extra Nav -->
                <!-- Quik Search -->
                <div class="dz-quik-search">
                    <form action="#">
                        <input name="search" value="" type="text" class="form-control" placeholder="Enter Your Keyword ...">
                        <span  id="quik-search-remove"><i class="ti-close"></i></span>
                    </form>
                </div>
                <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                    <div class="logo-header logo-dark">
                        <a href="index.html"><img src="images/logo.png" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active sub-menu-down"> <a href="javascript:;">Home</a>
                            <ul class="sub-menu">
                                <li class="new-page"><a href="../onepage/index-5.html">Home - Industry</a></li>
                                <li><a href="../1_Factory/index.html">Home - Default</a></li>
                                <li><a href="../2_LeatherIndustry/index.html">Home - Leather Industry</a></li>
                                <li><a href="../3_MiningIndustry/index-2.html">Home - Mining Industry 1</a></li>
                                <li><a href="../4_Solor/index.html">Home - Solar Plant</a></li>
                                <li><a href="../3_MiningIndustry/index.html">Home - Mining Industry 2</a></li>
                                <li><a href="../5_Industry/index.html">Home - Factory</a></li>
                                <li><a href="../onepage/index.html">Home - Construction</a></li>
                                <li><a href="../onepage/index-2.html">Home - Agriculture</a></li>
                                <li><a href="../onepage/index-3.html">Home - Food Industry</a></li>
                                <li><a href="../onepage/index-4.html">Home - Electrician</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu-down"><a href="javascript:void(0);">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about-us.html.twig">About Us</a></li>
                                <li><a href="team.html.twig">Team</a></li>
                                <li><a href="coming-soon.html.twig">Coming Soon</a></li>
                                <li><a href="under-construct.html.twig">Under Construct</a></li>
                                <li><a href="error-404.html.twig">Error 404</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu-down"><a href="javascript:void(0);">Portfolio</a>
                            <ul class="sub-menu">
                                <li><a href="portfolio.html.twig">Portfolio </a></li>
                                <li><a href="portfolio-details.html.twig">Portfolio Details</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu-down"><a href="javascript:void(0);">Services</a>
                            <ul class="sub-menu">
                                <li><a href="services.html.twig">Services</a></li>
                                <li><a href="services-details.html.twig">Services Details</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu-down"><a href="javascript:void(0);">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog-grid.html.twig">Blog Grid</a></li>
                                <li><a href="blog-details.html.twig">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html.twig">Contact Us</a></li>
                    </ul>
                    <div class="dz-social-icon">
                        <ul>
                            <li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/"></a></li>
                            <li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/"></a></li>
                            <li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/"></a></li>
                            <li><a target="_blank" class="fab fa-youtube" href="https://www.youtube.com/"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Header End -->

</header>
<!-- Header End -->
