.left-container {
	margin-left: calc((100% - 1170px)/2);
	position: relative;
	z-index: 10;

	@include respond("tab-land") {
		margin-left: calc((100% - 960px)/2);
	}

	@include respond("tab-port") {
		margin-left: calc((100% - 720px)/2);
		margin-left: calc((100% - 100%)/2);
		padding-right: var(--bs-gutter-x, 15px);
		padding-left: var(--bs-gutter-x, 15px);
	}

	@include respond("phone-land") {

		margin-left: calc((100% - 100%)/2);
		padding-right: var(--bs-gutter-x, 15px);
		padding-left: var(--bs-gutter-x, 15px);	}

	@include respond("phone") {
		margin-left: calc((100% - 540px)/2);

	}

	@include respond("phone") {
		margin-left: calc((100% - 100%)/2);
		padding-right: var(--bs-gutter-x, 15px);
		padding-left: var(--bs-gutter-x, 15px);
	}

	.dz-content p {
		padding-right: 3rem;

		@include respond('laptop') {
			padding-right: 0;
		}
	}

}

.blog-section {
	position: relative;
	&::after {
		content: ' ';
		position: absolute;
		top: 0;
		right: 0;
		width: 40%;
		height: 100%;
		background: var(--primary);
		
		@include respond('tab-port'){
			display: none;
		}
	}
}
.client-swiper-2 {
	padding: 50px 00px;
	background: #070613;
	border-radius: var(--border-radius-sm);

}

// dz-form
.content-area-2 {
	.dz-form {
		&.style-6 {
			.input-group{
				position: relative;
				label{
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					color: #666666;
					font-weight: 400;
					font-size: 15px;
					opacity: 0;
					@include transitionFast;
				}
				.form-control {
					border: none;
					outline: none;
					background: transparent;
					border-bottom: 2px solid rgb(224, 224, 224);
					padding-left: 0;
					padding-right: 0;
					border-radius: 0;
					font-size: 16px;
					color: #000;
					
					&:hover,
					&:active,
					&:focus{
						border-color: var(--primary);
					}
				}
			}
		}
	}
	.map-iframe {
		height: 100%;
		width: 100%;
		padding: 20px;
		padding-left: 20px;
		position: relative;
		border-radius: var(--border-radius-sm);

		&::after {
			content: ' ';
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
			border: 20px solid var(--primary);
			border-left: 0;
			border-radius: var(--border-radius-sm);
		}
		iframe {
			height: 100%;
			position: relative;
			z-index: 4;
			border-radius: var(--border-radius-sm);

		}
		@include respond('tab-port'){
			height: 350px;
		}
		@include respond('phone'){
			padding: 8px 8px 8px 0;
			&::after{
				border: 10px solid var(--primary);
			}
			iframe {
				height: 100%;
			}
		}
	}

}

// social-list style-2
.social-list.style-3 {
	li {
		border-radius: 50%;
		background: var(--primary);

		&:nth-child(2) {
			background: #039BE5;
		}

		&:nth-child(3) {
			background: #334C8C;
		}

		&:nth-child(4) {
			background: linear-gradient(45deg, #FEE411 11.93%, #FEDB16 15.61%, #FEC125 21.74%, #FE983D 29.56%, #FE5F5E 38.66%, #FE2181 47.46%, #9000DC 82.98%);
		}
	}
}

.move-2{
	--webkit-animation: move2 3s infinite;
    animation: move2 3s infinite;
}
@-webkit-keyframes move2 {
	0%{
		-webkit-transform: rotate(1deg) translate(2px, 2px);
		transform: rotate(1deg) translate(2px, 2px);
	}
	50%{
		-webkit-transform: rotate(-1deg) translate(-2px, -2px);
		transform: rotate(-1deg) translate(-2px, -2px);
	}
	100%{
		-webkit-transform: rotate(1deg) translate(2px, 2px);
		transform: rotate(1deg) translate(2px, 2px);
	}
}