<!DOCTYPE html>
<html>
<head>
    <title>Composer.json Visualizer</title>
</head>
<body>
    <h1>Composer.json Data</h1>
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% include 'table_row.html.twig' with {'key': 'Name', 'value': composerJsonData.name} %}
            {% include 'table_row.html.twig' with {'key': 'Type', 'value': composerJsonData.type} %}
            {% include 'table_row.html.twig' with {'key': 'License', 'value': composerJsonData.license} %}
            {% include 'table_row.html.twig' with {'key': 'Description', 'value': composerJsonData.description} %}
            {% include 'table_row.html.twig' with {'key': 'Minimum Stability', 'value': composerJsonData.minimumStability} %}
            {% include 'table_row.html.twig' with {'key': 'Prefer Stable', 'value': composerJsonData.preferStable} %}
            {% include 'table_row.html.twig' with {'key': 'Require', 'value': composerJsonData.require} %}
            {% include 'table_row.html.twig' with {'key': 'Require Dev', 'value': composerJsonData.requireDev} %}
            {% include 'table_row.html.twig' with {'key': 'Scripts', 'value': composerJsonData.scripts} %}
            {% include 'table_row.html.twig' with {'key': 'Replace', 'value': composerJsonData.replace} %}
            {% include 'table_row.html.twig' with {'key': 'Extra', 'value': composerJsonData.extra} %}
        </tbody>
    </table>
</body>
</html>
