<!DOCTYPE html>
<html>
<head>
    <title>Composer.json Visualizer</title>
</head>
<body>
    <h1>Composer.json Data</h1>
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in composerJsonData %}
                <tr>
                    <td>{{ key }}</td>
                    <td>
                        {% if value is iterable %}
                            <ul>
                                {% for subKey, subValue in value %}
                                    <li><strong>{{ subKey }}:</strong> {{ subValue }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
