<!DOCTYPE html>
<html>
<head>
    <title>Composer.json Visualizer</title>
</head>
<body>
    <h1>Composer.json Data</h1>
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% include 'table_row.html.twig' with {'section': 'Name', 'value': composerJsonData.name} %}
            {% include 'table_row.html.twig' with {'section': 'Type', 'value': composerJsonData.type} %}
            {% include 'table_row.html.twig' with {'section': 'License', 'value': composerJsonData.license} %}
            {% include 'table_row.html.twig' with {'section': 'Description', 'value': composerJsonData.description} %}
            {% include 'table_row.html.twig' with {'section': 'Minimum Stability', 'value': composerJsonData.minimumStability} %}
            {% include 'table_row.html.twig' with {'section': 'Prefer Stable', 'value': composerJsonData.preferStable} %}
            {% include 'table_row.html.twig' with {'section': 'Require', 'value': composerJsonData.require, 'installedPackages': composerJsonData.installedPackages} %}
            {% include 'table_row.html.twig' with {'section': 'Require Dev', 'value': composerJsonData.requireDev, 'installedPackages': composerJsonData.installedPackages} %}
            {% include 'table_row.html.twig' with {'section': 'Scripts', 'value': composerJsonData.scripts, 'installedPackages': []} %}
            {% include 'table_row.html.twig' with {'section': 'Replace', 'value': composerJsonData.replace, 'installedPackages': []} %}
            {% include 'table_row.html.twig' with {'section': 'Extra', 'value': composerJsonData.extra, 'installedPackages': []} %}
        </tbody>
    </table>
</body>
</html>
