<tr>
    <td>{{ key }}</td>
    <td>
        {% if value is iterable %}
            <ul>
                {% for subKey, subValue in value %}
                {% include 'table_row.html.twig' with {'key': subKey, 'value': subValue, 'installedPackages': installedPackages} %}
                {% endfor %}
            </ul>
        {% else %}
            {{ value }} {% if key == 'Require' or key == 'Require Dev' %} ({{ key in installedPackages ? 'Installed' : 'Not Installed' }}) {% endif %}
        {% endif %}
    </td>
</tr>
